.well
{
    background-color:#ccc;
    padding:  20px;
}

/* navigation */
#mainNav{
    background-color:gray;
    opacity : 1;
  }

@media only screen and (min-width: 992px){
   #mainNav {    
    background-color:gray;
    opacity : 1;
  } 
}

.navbar{
    background-color:gray;
    opacity : 1;
}

.nav-link{
    margin: auto;
    color: white;
    
}

.nav-link:hover{
    color: black;
}

/* Post */
.bloccomments{
    margin-top: 20px;
    background-color: beige;
}

h3 {
    text-align: center;
}

.masthead{
    margin-bottom: 20px;
}
.pageTitle{
    text-align: center;
}

.container_reply{
    background-color: rgb(94, 166, 184);
}

.postTitle{
    text-align: center;
    margin: auto;
    background-color: rgb(81, 81, 228);
}

/* home page */
#mimi{
    width: 50%;
    height: auto;
    margin: auto;
}

#introduce{
    border: 1px;
    border-color: blue;
    border-style: solid;
    border-radius: 20px;
}

/* Default page 1 and 2 */
.admin{
    text-align: center;
}

.container-content{
    margin-top: 150px;
}
